/* *
{
    padding:0;
    margin: 0;
} */

.wetherBg{
    background: url("https://images.unsplash.com/photo-1592210454359-9043f067919b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .heading{
    color:white;
    font-weight: 700;
  }
  .wetherResultBox{
    margin: auto;
    width: 500px;
    height: 300px;
  }
  .weathorIcon{
    margin-top: 2rem;
    width: 100px;
    height: 100px;
  }
  .weathorCity{
    font-size: 35px;
  }
  .weathorTemp{
    font-size:55px;
    font-weight: 700;
  }